.cv-app,
.cv-preview {
    height: 100%;
}

/* main area */

.cv-app {
    background-color: var(--bgc-cv-app);
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding-bottom: 20px;
    overflow-y: auto;
}

/* sidebar area */

.cv-app-sidebar {
    border-right: var(--border);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px 0 10px;
}

.cv-nav-btn {
    border: none;
    border-radius: 5px;
    background: none;
    padding: 5px 0;
    font-size: 1.2em;
    font-weight: 500;
}

.cv-nav-btn:hover {
    background-color: lightseagreen;
}

.active-btn {
    border: var(--border);
    border-color: darkcyan;
    background-color: lightseagreen;
}

/* forms area */

.cv-app-forms {
    overflow-y: auto;
}

/* preview area */

.cv-preview {
    background-color: var(--bgc-cv-preview);
    border-left: var(--border);
    padding-bottom: 20px;
}